
.left-menu{
    position: absolute;
    background-color: #fff;
    height: 400px;
    top: 100px;
    left: 20px;
    box-shadow: 0px 0px 2px 0px #888888;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.left-menu ul li{
    padding: 5px 30px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.left-menu ul li:hover{
    background-color: #eee;
}
.sub-menu{
    position: absolute;
    left: 180px;
    top: 0;
    box-shadow: 0px 0px 2px 0px #888888;
}
.resource{
    position: absolute;
    left:100px;
    top: 150px;
}
.frm-login{
    width: 350px;
    box-shadow: 0px 0px 2px 0px #888888;
    margin: auto;
    margin-top: 90px;
    padding: 100px 30px;
}
.account{
    width: 300px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 2px 0px #888888;
}
.account ul li{
    padding: 5px 30px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid rgb(243, 243, 243);
}
.account ul li:hover{
    background-color: #eee;
}
.box-video{
    height: 550px;
    background-color: #000;
}
.detail{
    width: 350px;
    margin-top: 40px;
}